.cta {
  min-width: 12rem;
  height: 4rem;

  color: #f1f1f1;
  background-color: #000;

  font-size: 1.5rem;
  text-transform: capitalize;

  transition: 0.2s;

  &:hover {
    color: #000 !important;
    background-color: #ccc !important;
  }
}
