@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --header-h: 4.7rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:active, a:visited {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

button {
  outline: none;
  border: none;
}

html {
  font-size: 62.5%;
  line-height: 1.4;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  font-weight: normal;
}

.wrapper {
  width: 80rem;
  margin: 0 auto;
  padding: 7.4rem 1.6rem 9.6rem;
}

.main-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 4px;
  line-height: 4.5rem;
  text-transform: uppercase;
  font-family: "Segoe UI", sans-serif;
}

.slogan {
  text-align: center;
  font-size: 1.5rem;
  line-height: 22.5px;
  font-style: italic;
  margin: 1.5rem 0;
  opacity: 0.6;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: var(--header-h);
  background-color: #000;
  font-size: 1.5rem;
}
.header .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header .menu-list .member-item {
  position: relative;
}
.header .menu-list .menu-item > a {
  display: block;
  padding: 0 2.4rem;
  color: #fff;
  text-transform: uppercase;
  line-height: var(--header-h);
}
.header .menu-list .menu-item:hover > a {
  background-color: #ccc;
  color: #000;
}
.header .menu-list .menu-item:hover > .submenu-list {
  display: block;
}
.header .submenu-list {
  width: 16rem;
  position: absolute;
  top: var(--header-h);
  background-color: #fff;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  display: none;
}
.header .submenu-list .submenu-item a {
  display: block;
  padding: 8px 16px;
  line-height: 22.5px;
  color: #000;
}
.header .submenu-list .submenu-item:hover a {
  background-color: #ccc;
}
.header .search-btn {
  padding: 0 2.4rem;
  height: var(--header-h);
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
.header .search-btn:hover {
  background-color: #f44336;
}

#pheader {
  position: absolute;
  top: 0;
  left: 0;
}

.footer-map > img {
  width: 100%;
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
}
.footer-body {
  margin-top: 7rem;
  text-align: center;
}
.footer .social a {
  font-size: 2.4rem;
  line-height: 2.4rem;
  color: #666;
}
.footer .social a:hover {
  opacity: 0.6;
}
.footer .social a:not(:last-child) {
  margin-right: 5px;
}
.footer .copyright {
  margin: 2.1rem 0 8rem;
}
.footer .copyright a {
  text-transform: uppercase;
}
.footer .copyright a:hover {
  text-decoration: underline;
}

.cta {
  min-width: 12rem;
  height: 4rem;
  color: #f1f1f1;
  background-color: #000;
  font-size: 1.5rem;
  text-transform: capitalize;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.cta:hover {
  color: #000 !important;
  background-color: #ccc !important;
}

#home .content {
  margin-top: var(--header-h);
}
#home .slider .carousel-caption {
  color: #fff;
  text-shadow: 0 0 5px 10px rgb(0, 0, 0);
  bottom: 2.5rem;
}
#home .slider .carousel-caption h3 {
  font-size: 2.4rem;
  font-family: "Segoe UI", sans-serif;
  line-height: 3.6rem;
  margin-bottom: 1.7rem;
}
#home .slider .carousel-caption p {
  font-size: 1.5rem;
  line-height: 22.5px;
}
#home .band .description {
  font-size: 1.5rem;
  line-height: 22.5px;
  text-align: justify;
  margin-bottom: 1.5rem;
}
#home .band .member-list {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#home .band .member-innner {
  padding: 3.2rem 0 1.6rem;
}
#home .band .member-name {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
#home .band .member-avatar {
  width: 60%;
  border-radius: 4px;
}
#home .tour {
  background-color: #000000;
}
#home .tour .main-title,
#home .tour .slogan {
  color: #fff;
  margin: 15px 0;
}
#home .tour .ticket-list {
  background-color: #fff;
  color: #757575;
  font-size: 1.5rem;
  margin-bottom: 3.2rem;
}
#home .tour .ticket-item {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
  position: relative;
}
#home .tour .sold-out {
  background-color: #f44336;
  color: #fff;
  margin-left: 16px;
  line-height: 22.5px;
  padding: 4px 8px;
  text-align: center;
}
#home .tour .ticket-count {
  position: absolute;
  right: 3.2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
  text-align: center;
  line-height: 2.5rem;
}
#home .tour-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.6rem;
  font-size: 1.5rem;
}
#home .tour-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#home .tour-inner {
  background-color: #000;
}
#home .tour-image > img {
  width: 100%;
}
#home .tour-image:hover > img {
  opacity: 0.7;
}
#home .tour-body {
  padding: 16px;
  background-color: #fff;
}
#home .tour-title {
  font-size: inherit;
  font-weight: 700;
}
#home .tour-date {
  opacity: 0.6;
  margin: 15px 0px;
}
#home .tour-description {
  text-align: justify;
  margin-bottom: 1.5rem;
}
#home .contact-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3.2rem;
}
#home .contact-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#home .contact-info-item {
  font-size: 1.8rem;
  line-height: 2.7rem;
}
#home .contact-info i {
  width: 1.8rem;
  display: inline-block;
  margin-right: 1.5rem;
}
#home .contact-form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#home .contact .form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.6rem;
  margin-bottom: 8px;
  font-size: 1.5rem;
}
#home .contact .form-field:last-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
#home .contact .form-field input {
  padding: 8px;
  border: 1px solid #ccc;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#home .contact .form-field input:focus {
  outline: 1px solid #2cccff;
}