.header {
  $header-h: var(--header-h);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #000;
  height: $header-h;
  font-size: 1.5rem;

  .nav-desktop {
    @include flex(space-between);

    @include mobile {
      display: none;
    }

    .menu-item:hover > .submenu-list {
      display: block;
    }
  }

  .nav-mobile {
    display: none;

    a {
      display: block;
      padding: 0 2.4rem;
      color: #fff;
      text-transform: uppercase;
      line-height: $header-h;
      font-size: 1.5rem;
    }

    .nav-mobile-inner {
      @include flex(space-between);

      h1 {
        display: block;
        height: $header-h;
        margin-bottom: 0;

        &:hover > a {
          color: #000;
          background-color: #ccc;
        }
      }

      .menu-btn {
        display: block;
        height: $header-h;
        padding: 0 2.4rem;
        color: #fff;
        background: transparent;

        &:hover {
          color: #000;
          background-color: #ccc;
        }
      }
    }

    .menu-list {
      display: none;
      background: #000;
      flex-direction: column;
      align-items: start;
      width: 100%;

      &.active {
        display: flex;
      }

      .menu-item {
        width: inherit;
      }

      .submenu-list {
        width: inherit;

        a {
          padding-left: 3.4rem;
        }

        &.active {
          display: block;
        }
      }
    }

    @include mobile {
      display: block;
    }
  }

  .menu-list {
    @include flex(start);
    .menu-item {
      position: relative;
    }

    .menu-item > a {
      display: block;
      padding: 0 2.4rem;
      color: #fff;
      text-transform: uppercase;
      line-height: $header-h;
    }

    .menu-item:hover > a {
      background-color: #ccc;
      color: #000;
    }
  }

  .submenu-list {
    width: 16rem;
    position: absolute;
    top: $header-h;
    background-color: #fff;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
    display: none;

    .submenu-item a {
      display: block;
      padding: 8px 16px;
      line-height: 22.5px;
      color: #000;
    }

    .submenu-item:hover a {
      background-color: #ccc;
    }
  }

  .search-btn {
    padding: 0 2.4rem;
    height: $header-h;
    background-color: transparent;
    color: #fff;
    cursor: pointer;

    &:hover {
      background-color: #f44336;
    }
  }
}

#pheader {
  position: absolute;
  top: 0;
  left: 0;
}
